/*  */
QWidget {
    background-color: #1b1b1b;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
}

/* MainWindow */
#TimerLabel {
    font-size: 36px;
    font-weight: bold;
    margin-top: 100px;
}