/*  */
QWidget {
    background-color: #1b1b1b;
    color: #fff;
    font-family: Arial;
    font-size: 14px;
}

/* MainWindow */
QLabel#TimerLabel {
    font-size: 36px;
    font-weight: bold;
    /* border: 1px solid red; /* DEBUG */
}

QPushButton#StartButton {
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    /* border: 1px solid lime; /* DEBUG */
}